<section class="resenas">
  @if (pelicula()) {
    <!-- Información de la película -->
    <div class="pelicula-info">
      <img [src]="pelicula().imagen" [alt]="pelicula().titulo" />
      <div class="pelicula-datos">
        <h1>{{ pelicula().titulo }}</h1>

        <h3>⭐ {{ promedio() }} / 5</h3>
        <p>Cantidad de reseñas: {{ cantidad() }}</p>
      </div>
    </div>

    <!-- Reseñas -->
    <div class="lista-resenas">
      <h2>Reseñas</h2>

      @if (resenas().length > 0) {
        @for (resena of resenas(); track resena.id_resena) {
          <div class="resena">
            <p>
              {{ '⭐'.repeat(resena.estrellas) }}
            </p>

            <p>
                @if (resena.usuario) {
                  {{ resena.usuario.nombre }} {{ resena.usuario.apellido }}
                } @else {
                  {{ resena.nombre_publico }}
                }
            </p>

            @if (resena.comentario) {
              <p>{{ resena.comentario }}</p>
            }

            <p>{{ resena.fecha | fechaResena }}</p>
          </div>
        }
      } @else {
        <p>No hay reseñas para esta película.</p>
      }
    </div>

    <!-- Nueva reseña -->
    <div class="nueva-resena">
      <h2>Deja tu reseña</h2>
      <p>Calificacion:</p>

      <div class="estrellas">
        @for (estrella of [1, 2, 3, 4, 5]; track estrella) {
          <button
            type="button"
            (click)="seleccionarEstrellas(estrella)"
            [class.seleccionada]="estrella <= estrellasSeleccionadas()"
          >
            ⭐
          </button>
        }
      </div>

      <label for="comentario">Comentario</label>
      <textarea
        id="comentario"
        rows="4"
        maxlength="200"
        placeholder="Escribe un comentario"
        [value]="comentario()"
        (input)="actualizarComentario($event)"
      ></textarea>

      <button type="button" (click)="guardarResena()" [disabled]="guardando()">
        @if (guardando()) {
          Publicando...
        } @else {
          Publicar reseña
        }
      </button>

      @if (mensaje()) {
        <p>{{ mensaje() }}</p>
      }
    </div>
  } @else {
    <p>No se encontro la pelicula.</p>
  }

  <!-- boton volver menu -->
  <button type="button" (click)="volver()">Volver al catalogo</button>
</section>