<section class="auth-container">
    <div class="auth-card">
        <h2>Crear Cuenta</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" formControlName="nombre" placeholder="Tu nombre">
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" formControlName="apellido" placeholder="Tu apellido">
            </div>
            
            <!-- validar fecha de nacimiento -->
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de nacimiento</label>
                <input id="fechaNacimiento" type="text" formControlName="fechaNacimiento" placeholder="dd/mm/yyyy" maxlength="10" inputmode="numeric" (input)="formatearFecha($event)">
                @if (registerForm.get('fechaNacimiento')?.touched && registerForm.get('fechaNacimiento')?.invalid) {
                    <small class="error-msg">
                        @if (registerForm.get('fechaNacimiento')?.hasError('required')) {
                            La fecha de nacimiento es obligatoria.
                        } @else if (registerForm.get('fechaNacimiento')?.hasError('diaInvalido')) {
                            el día no valido.
                        } @else if (registerForm.get('fechaNacimiento')?.hasError('mesInvalido')) {
                            El mes no valido.
                        } @else if (registerForm.get('fechaNacimiento')?.hasError('fechaFutura')) {
                            No puede ingresar una fecha futura.
                        } @else {
                            Ingresá la fecha con formato dd/mm/yyyy.
                        }
                    </small>
                }
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input id="email" type="email" formControlName="email" placeholder="tu@email.com">
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" type="password" formControlName="password" inputmode="numeric" placeholder="******">
            </div>

            @if (successMessage()) {
            <div class="success-msg">
                {{ successMessage() }}
            </div>
            }
            @if (errorMessage()) {
            <div class="error-msg">
                {{ errorMessage() }}
            </div>
            }

            <button 
                type="submit" 
                [disabled]="registerForm.invalid || isLoading()"
            >
                {{ isLoading() ? 'Registrando...' : 'Registrarse' }}
            </button>
        </form>
        <p class="auth-link">
            ¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesion aqui</a>
        </p>
    </div>
</section>